<div class= "top-page">
	<div class= "header">
		<h1>ようこそ Bookers へ！</h1>
	</div>

	<div class= "one-thing">
		<p>Bookers では、さまざまな書籍に関するあなたの意見や</p>


		<p>印象を共有し交換することができます</p>
	</div>

	<div class= "start-link">
		<%= link_to "start", '/books' %>
	</div>
</div>